body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

#video,
#canvas {
    position: absolute;
    right: 25%;
    top: 25%;
    
    
}